<%- include('./theHeader.ejs') %>
<h1 class="text-3xl text-center font-bold mb-[30px]">Ошибка 404. Страница не найдена</h1>
<a href="/" class="justify-center flex">На главную</a>
<%- include('./theFooter.ejs') %>
