<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="/socket.io/socket.io.js"></script>
		<style>
			.hidden {
				display: none;
			}
		</style>
	</head>
	<body>
		<header class="text-center py-[20px] bg-[#ccc] w-full mb-[30px]">
			<nav class="max-w-[1280px] mx-auto">
				<ul class="flex justify-center gap-[30px] text-[19px]">
					<li><a href="/">Все книги</a></li>
					<li><a href="/books/create">Создать книгу</a></li>
					<li class="auth"><a href="/user/login">Авторизация</a></li>
					<li><a href="/user/me">Личный кабинет</a></li>
				</ul>
			</nav>
		</header>
		<main class="mx-auto max-w-[1280px]">
